In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [3]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [11]:
pd.Series(data=[sum,len])

0    <built-in function sum>
1    <built-in function len>
dtype: object

In [12]:
ser1 = pd.Series([1,2,3,4],['USA','GERMANY','USSR','JAPAN'])

In [13]:
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [14]:
ser2 = pd.Series([1,2,5,4],['USA','GERMANY','ITALY','JAPAN'])

In [15]:
ser2

USA        1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [16]:
ser1['USA']

1

In [17]:
ser3 = pd.Series(data=labels)

In [18]:
ser3

0    a
1    b
2    c
dtype: object

In [19]:
ser3[0]

'a'

In [20]:
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [21]:
ser2

USA        1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [22]:
ser1 + ser2

GERMANY    4.0
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64